
<header>

</header>


<main>   
    
        
    
    <div class="login">
        <div class="p-col-12">
            <h1>Despesas</h1>
            <i class="fas fa-comments-dollar fa-4x" style="color: rgb(3, 3, 177);"></i>
            <p>Controle de despesas</p>
            <label for="float-input">Usuário</label>
            <input id="float-input" type="text" pInputText  [(ngModel)]="requestLogin.email"> 
            
        </div>
        <div class="p-col-12">
            <label style="margin: 4px;" for="float-input">Senha:  </label>
            <p-password  [(ngModel)]="requestLogin.senha"> Senha: </p-password>
        </div>
        <div class="p-col-12">
            <button (click)="doLogin()" 
              pButton type="button" label="Entrar" >
            </button>
        </div>
    </div>
</main>
<footer>
    <h4>
        Developement: SystemPro 
    </h4>
    <p>
        Email: fernando.nandotania@hotmail.com
    </p>
    <p>
        Cel.: *55 (11) 97771-2030
    </p>

    <p></p>
</footer>