<header>
    <h1>corporate credit card control</h1>
    <p>
         Gestão de Despesas  

    </p>
</header>


<main>   
    <div class="login">
        <div>
            <h1>Despesas</h1>
            <i class="fas fa-comments-dollar fa-4x" style="color: rgb(3, 3, 177);"></i>
          <H3>Controle de despesas</H3>
            <label for="float-input">Usuário</label>
            <input id="float-input" type="text" pInputText  [(ngModel)]="creds.email"> 
            
        </div>
        <div>
            <label style="margin: 4px;" for="float-input">Senha:  </label>
            
            <input [(ngModel)]="creds.senha" type="password" name="Senha" id="">
           
        </div>
        <div>
            <button (click)="doLogin()" 
              pButton type="button" label="" >Entrar
            </button>
        </div>
    </div>
</main>
<footer>
    <h4>
        Developement: SystemPro 
    </h4>
    <p>
        Email: fernando.nandotania@hotmail.com
    </p>
    <p>
        Cel.: *55 (11) 97771-2030
    </p>

    <p></p>
</footer>