

<header>
   <header>
    <h1>Despesas</h1>
    <p>Controle de despesas</p>
    <img src="assets/imagens/sacodinheiro-pequena.jpg" alt="">
  </header>

</header>


<main>   
    
        
    
    <div class="login">
        <div class="p-col-12">
            <label for="float-input">Username</label>
            <input id="float-input" type="text" pInputText> 
            
        </div>
        <div class="p-col-12">
            <label style="margin: 4px;" for="float-input">Senha:  </label>
            <p-password> Senha: </p-password>
        </div>
        <div class="p-col-12">
            <button pButton type="button" label="Entrar" ></button>
        </div>
    </div>
</main>
<footer>
    <h4>
        Developemet: SystemPro 
    </h4>
    <p>
        Email: fernando.nandotania@hotmail.com
    </p>
    <p>
        Cel.: *55 (11) 97771-2030
    </p>

    <p></p>
</footer>